@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Playfair+Display&display=swap');


nav a {
  font-family: 'Manrope', sans-serif;
  font-size: 1em ;
  color : #081c47;
}

h1{
  font-family: 'Manrope', sans-serif;
  font-size: 10em ;
  color : #081c47;
  padding: 1em ;
  text-align: center;
}

p{
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  padding-left: 24em ;
  padding-right: 24em ;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: justify;
  color : #081c47;
}

h2{
font-family: 'Playfair Display', serif;
font-size: 2em;
color : #081c47;
}

h3{
  font-family: 'Manrope', sans-serif;
  font-size: 2em;
  color : #081c47;
  padding-bottom: 10px ;
  padding-top: 1em ;
}

footer{
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  color : #081c47;
}
